.titulo{

text-align:center;

font-size:40px;

font-weight:bold;

margin-bottom:40px;

}

.categoria-card{

background:#1E1E1E;

color:white;

border-radius:15px;

padding:30px;

cursor:pointer;

transition:.3s;

text-align:center;

border:2px solid transparent;

}

.categoria-card i{

font-size:45px;

color:#FFC107;

margin-bottom:20px;

}

.categoria-card:hover{

transform:translateY(-8px);

border-color:#FFC107;

box-shadow:0 15px 30px rgba(0,0,0,.3);

}
